*{
  box-sizing: border-box;
  font-size: 16px;
}

.form-wrap {  
  width: 80%;
  min-height: 70vh;
  margin: 4rem auto 0 auto;
}

form {
  margin: 2rem auto 0 auto;
  display: block;
}

input {
  border-radius: 4px; 
  width: 70%;
  text-align: center;
  border: 0.5px solid purple;
}

p{
  display: inline-flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  margin-left: 1rem;
  margin-bottom: 0 ;
}

h4 {
  margin-left: 3rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

.div-wrap {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  padding: 10px;
  margin: 6px;
}

.genderFormatBoy{
  color: #00008B;
  background-color: rgb(204, 231, 255);
  border-radius: 6px;
}

.genderFormatGirl {
  color: #8B008B;
  background-color: #FFB6C1;
  border-radius: 6px;
}

hr {
  display: flex;
  width: 80%;
  margin-bottom: 1rem;
  align-self: center;
  border-width: thick;
}