*{
  box-sizing: border-box;
  font-size: 16px;
}

div{  
  width: 80%;
  min-height: 70vh;
  margin: 4rem auto 0 auto;
}

form {
  margin: 2rem auto 0 auto;
  display: block;
}

input {
  border-radius: 4px; 
  width: 70%;
  text-align: center;
  border: 0.5px solid purple;
}

p{
  padding-top: 3rem;
  margin-left: 1rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  padding: 10px;
}